<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Player</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Music Player</h1>
        <nav>
          <a routerLink="/playlist" routerLinkActive="active">Playlist</a>
          <a id="home_link" routerLink="/" routerLinkActive="active">Home</a>
        </nav>
      </div>
    </div>
  </div>
</body>

</html>